.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    transform: translate(50%,50%);
    border-radius: 10px;
}
.dice{
    /* display: flex; */
    display: flex;
    gap: 30px;
    
   /* flex-direction: column; */
    width: 381px;
    margin-bottom: 20px;
   
}
.paraText{
    text-align: center;
}
.h1{
    background-color: rgb(127, 229, 255);
    color: black;
    width: 55px;
    text-align: center;
    margin: 10px;
    height: 55px;
    font-size: 40px;
    text-align: center;
    font-weight: 550px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.times{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 190px;
    text-align: center;
}
.h2{
    background-color: rgb(0, 112, 139);
    color: white;
    width: 55px;
    text-align: center;
    margin: 10px;
    height: 55px;
    font-size: 40px;
    font-weight: 550;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.h1:hover{
    background-color: rgb(0, 131, 163);

}
.roll{
    padding: 7px 25px;
    margin-bottom: 40px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: rgb(127, 229, 255);
    cursor: pointer;
    transition: 0.4s;
    color: black;
}
.roll:hover{
    background-color: rgb(0, 131, 163);
    color: white;
}

@media(min-width:320px){
    .container{
        width: 100%;
        transform: translate(2%,40%);
    }
    .h1{
        width: 44px;
        height: 50px;
        
    }
    .h2{
        width: 44px;
        height: 50px;
        
    }
    .dice{
        /* margin-left: 40px; */
        width: 320px;
    }
    .times{
        gap: 150px;
        font-size: 12px;
    }
}
@media(min-width:475px){
    .container{
        width: 90%;
        transform: translate(5%,35%);
    }
    .dice{
        width: 445px;
      
    }
    .h1 {
        width: 68px;
        height: 50px;
    }
    .h2{
        width: 68px;
        height: 50px;
        
    }
  
}
@media(min-width:640px){
 
    .dice{
        width: 501px;
      
    }
    .h1 {
        width: 74px;
        height: 50px;
    }
    .h2{
        width: 74px;
        height: 50px;
        
    }
}
@media(min-width:768px){
    .dice{
        width: 513px;
      
    }
    .h1 {
        width: 80px;
        height: 62px;
    }
    .h2{
        width: 80px;
        height: 62px;
        
    }
}
@media(min-width:1024px){
    .container{
        width: 70%;
        transform: translate(20%,50%);
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .dice{

        width: 513px;
      
    }
    .h1 {
        width: 80px;
        height: 62px;
    }
    .h2{
        width: 80px;
        height: 62px;
        
    }
}
@media(min-width:1280px){
    .container{
        width: 60%;
        transform: translate(35%,50%);
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .dice{

        width: 656px;
      
    }
    .h1 {
        width: 104px;
        height: 62px;
    }
    .h2 {
        width: 104px;
        height: 62px;
    }
}
/* @media(min-width:1536px){

} */