.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    transform: translate(50%,50%);
    border-radius: 10px;
}
.dice{
    /* display: flex; */
    display: flex;
    gap: 30px;
    
   /* flex-direction: column; */
    width: 381px;
    margin-bottom: 20px;
   
}
.paraText{
    text-align: center;
}
.h1{
    background-color: rgb(127, 229, 255);
    color: black;
    width: 55px;
    text-align: center;
    margin: 10px;
    height: 55px;
    font-size: 40px;
    text-align: center;
    font-weight: 550px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.times{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 190px;
    text-align: center;
}
.h2{
    background-color: rgb(0, 112, 139);
    color: white;
    width: 55px;
    text-align: center;
    margin: 10px;
    height: 55px;
    font-size: 40px;
    font-weight: 550;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.h1:hover{
    background-color: rgb(0, 131, 163);

}
.roll{
    padding: 7px 25px;
    margin-bottom: 40px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: rgb(127, 229, 255);
    cursor: pointer;
    transition: 0.4s;
    color: black;
}
.roll:hover{
    background-color: rgb(0, 131, 163);
    color: white;
}
@media(min-width:375px){
   
    .h1{
        width: 48px;
        height: 56px;
        
    }
    .dice{
        margin-left: 40px;
    }
    .h2{
        width: 48px;
        height: 56px;
    }
}

@media(max-width:767px){
    .container{
        width: 90%;
        transform: translate(5%,50%);
    }
    .timeres{
        font-size: 19px;
    }
    
}

@media(min-width:768px){
    .container{
        width: 80%;
        transform: translate(15%,50%);
    }
    
}
@media(min-width:1280px){
   
    .container{
        width: 50%;
    transform: translate(50%,50%);
    }
}

@media(max-width:320px){
    .container{
        width: 110%;
        transform: translate(7%,50%);
    }
    .h1{
        width: 48px;
        height: 56px;
        
    }
    .dice{
        margin-left: 40px;
    }
    .h2{
        width: 48px;
        height: 56px;
    }
}
@media(max-width:414px){
    .container{
        width: 90%;
        transform: translate(5%,30%);
    }
    .h1{
        width: 48px;
        height: 56px;
        /* font-size: 16px; */
    }
    .dice{
        width: 400px;
    }

}